/* #F3F8FF
#E26EE5
#7E30E1
#49108B */

/* media query  */
@media (max-width: 768px) {
  .section-hero {
    padding: 40px 20px;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
  }

  .highlight {
    font-size: 24px;
  }

  .span--text {
    font-size: 18px;
  }

  .hero--text {
    text-align: center;
  }

  .hero--img {
    width: 250px;
    height: 250px;
    margin-top: 250px;
  }

  .badge {
    font-size: 14px;
    font-weight: 500;
  }

  .secondary-heading {
    font-size: 20px;
  }
  .hero-image-container {
    display: flex;
    justify-content: center;
  }

  .skills-section {
    padding: 40px 12px;
  }
  .skill-row .col-12 {
    width: 48%;
  }

  .skill-img {
    max-width: 80px;
  }
  .hero-text {
    font-size: 16px;
    text-align: center;
  }

  .hero--img {
    margin-top: 20px;
    width: 220px;
    height: 220px;
  }

  .section--about-me {
    padding: 42px 15px;
  }

  .about-me-text {
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.5;
    padding: 0px 15px;
  }

  .icon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
  }
  /* project section */
  .projects-section {
    padding: 48px 15px;
    font-size: 18px;
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
root {
  --primary-color-dark: #49108b;
  --secondary-color: #7e30e1;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fira code";
  /* background-color: #ede7f3; */
  background-color: #f3f8ff;
  /* background: linear-gradient(to bottom, #dcd6f7, transparent); */
}

.container {
  padding-top: 40px 0px 40px 0;
  color: var(--secondary-color);
}
.nav-item a {
  /* color: #7e30e1; */
  color: var(--secondary-color);
  font-size: 20px;
  letter-spacing: 1.2px;
}

.nav-item a:hover {
  color: #49108b;
}
/* to make the nav items end */
#navbarNav {
  justify-content: flex-end;
  font-weight: 500;
}

.ul-nav-item li {
  margin-left: 33px;
  color: #7e30e1;
}

.ul-nav-item li:hover {
  color: #49108b;
}

/* logo */
.logo {
  font-size: 32px;
  font-weight: 600;
  color: #49108b;
  letter-spacing: 1.9px;
}

.logo:hover {
  color: #680bd3;
}

.dark-mode-icon {
  
  font-size: 30px;
}
/* ////// */
.dark-mode {
  background-color: #1a1a1a;
  color: #f7f7f7;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.section-hero {
  padding: 80px 60px;
  margin-top: 68px;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.section-hero p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #777;
}
.badge {
  /* background: #eee; */
  border-radius: 4px;
  padding: 2px 8px;
  margin-right: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16;
}

.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-right img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 18px rgba(126, 48, 225, 0.2);
}


.highlight {
  color: #49108b;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.1px;
  animation: movesInLeft 1.2s ease-in forwards;
}
.span--text {
  font-size: 24px;
  font-weight: 400;
}

/* section hero animation  */
@keyframes movesInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hero-image-container {
  /* width: 600px; */
  height: auto;
  border-radius: 100px;
  background: linear-gradient(to bottom, #dcd6f7, transparent);
  /* animation: bubble 2s ease infinite; */
  transition: all 2s ease;
}

/* hero imge container animation */
@keyframes bubble {
  0% {
    border-radius: 50%;
  }

  100% {
    border-radius: 100%;
  }
}

.hero--img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////// */
.section--about-me {
  padding: 48px 24px;
  margin-top: 48px;
  /* animation: fadeInUp 2s ease-in forwards; */
}
.secondary-heading {
  width: 50px;
  display: inline;
  background-color: #7e30e1;
  color: #fff;
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 400px;
}

.about-me-text {
  margin-top: 64px;
  line-height: 34px;
  color: #777;
  font-size: 24px;
}

/*  */
/* icon */
.icon {
  font-size: 36px;
}
/* .icon:hover{
  background-color: var(--primary-color-dark);
} */

.icon-link {
  text-decoration: none;
  margin-right: 22px;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-hire-me {
  border: 2px solid #49108b;
  /* background-color: #49108b; */
  color: #fff;
  color: #49108b;
  padding: 8px;
  margin-left: 22px;
}

.btn-hire-me:hover {
  background-color: #49108b;
  color: #ffff;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */
.skills-section {
  padding: 96px 20px;
  margin-top: 48px;
}
.skill-icon {
  max-width: 80px;
  width: 100%;
  transition: transform 0.2s ease-in-out;
}

.skill-icon:hover {
  transform: scale(1.2) translateY(-3px);
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////// */
.projects-section {
  padding: 96px;
  margin-top: 48px;
  /* animation: opacityAnimation 2s ease-in; */
  font-size: 22px;
}

h4 {
  font-size: 22px;
  color: #777;
}

.project-image-div {
  border-radius: 8px;
  padding: 20px;
}
.project-img {
  transition: all 0.2s ease-in;
}
.project-img:hover {
  transform: scale(1.04);
}

.btn-explore {
  display: flex;
  justify-content: center;
}
.explore-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore-button > a {
  text-decoration: none;
}

.btn-explore {
  background-color: #7e30e1;
  color: #fff;
  font-weight: 400;
}

.btn-explore:hover {
  background-color: #49108b;
  box-shadow: 0 2px 12px rgba(126, 48, 225, 0.3);
}

/* @keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////// */
.contact-section {
  padding: 96px 20px;
  margin-top: 64px;
  font-size: 22px;
  color: #fff;
  background-color: #7e30e1;
}

.contact-me {
  margin-bottom: 29px;
  background-color: #fff;
  color: #49108b;
}
form {
  padding: 10px;
  color: #fff;
}
input[type="text"] {
  border: 1px solid #49108b;
  width: 80%;
  color: #fff;
}
input[type="text"]:focus {
  box-shadow: 0 2px 22px rgba(126, 48, 225, 0.3);
}

input[type="email"] {
  border: 1px solid #49108b;
  width: 80%;
  color: #49108b;
  color: #fff;
}

input[type="email"]:focus {
  box-shadow: 0 2px 22px rgba(126, 48, 225, 0.3);
}
.submit-btn {
  background-color: #49108b;
  padding: 9px 18px;
  color: #fff;
  transition: all 0.5s ease-in;
  border: none;
  border-radius: 10px;
}
textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 90px;
}
/* /////////////////////////////// */
footer {
  width: 100vw;
  background-color: #333;
  height: 35vh;
  color: #fff;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  list-style-type: none;
}
.footer-container > li {
  margin-top: 50px;
}
